body,
div,
p,
a,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
header,
main,
content {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', Helvetica, sans-serif;
}

section {
	padding: 30px 0;
}

section div {
	padding: 30px 0;
}

h2,
h3 {
	text-align: center;
}

.navbar {
	background: #005A31;
	border: none;
}

.navbar ul li a {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #F2F2F2 !important;
	font-weight: bold;
}

.jumbotron {
	text-align: center;
	margin-bottom: 0;
	padding: 100px 0 70px 0;
	background: rgb(80, 219, 214);
}

.jumbotron img {
	width: 15%;
	height: auto;
	padding-bottom: 30px;
}

.jumbotron h1,
.jumbotron h3 {
	color: #f2f2f2;
	font-weight: bold;
}

.jumbotron button {
	margin-top: 30px;
	width: 300px;
	height: 60px;
	color: #f2f2f2;
	font-size: 1.7em;
	background: rgb(224, 169, 26);
	border: none;
	font-weight: bold;
}

#about {
	background: #F3FAB6;
}

#about p {
	text-align: center;
	font-size: 2.5em;
}

#about img {
	width: 300px;
	height: auto;
	padding-top: 30px;
}

#location {
	background: #CBE32D;
}

#activities {
	background: #A8CD1B;
}

#activities header {
	text-align: center;
}

#activities header img {
	padding-bottom: 20px;
}

#activities header h3 {
	padding-bottom: 20px;
}

footer {
	background: #005A31;
	padding: 0 30px;
}

footer p {
	padding: 30px 0;
	text-align: center;
	font-size: 1.2em;
	color: #F2F2F2;
}